<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express · static page</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="card">

    <!-- simple counter -->
    <div class="counter-wrap">
      <span id="countDisplay">0</span>
    </div>

    <div class="btn-group">
      <button class="btn btn-primary" id="incBtn">➕ increment</button>
      <button class="btn btn-outline" id="resetBtn">↺ reset</button>
    </div>


  </div>

  <script src="/public/script.js"></script>
</body>
</html>